[alias]
    dag = log --pretty=\"format:%C(yellow)%h%Cred%d%Creset - %C(cyan)%an %Creset: %s %Cgreen(%cr)\"
    nb = checkout -b
    co = checkout
    undo = reset HEAD~1 --mixed
    amend = commit --amend
    pick = cherry-pick
[user]
    email = roryjacob@gmail.com
    name = Rory Jacob
[core]
    editor = vim
    pager = delta --plus-color="#012800" --minus-color="#340001"

[interactive]
    diffFilter = delta --color-only
[pull]
    rebase = true
