[user]
    email = roryjacob@gmail.com
    name = Rory Jacob

[alias]
    dag = log --pretty=\"format:%C(yellow)%h%Cred%d%Creset - %C(cyan)%an %Creset: %s %Cgreen(%cr)\"
    nb = checkout -b
    co = checkout
    undo = reset HEAD~1 --mixed
    amend = commit --amend
    pick = cherry-pick
    summary = log --stat --summary
    fuck = reset --hard origin/master

[delta]
    plus-style = "syntax #012800"
    minus-style = "syntax #340001"
    navigate = true
    line-numbers = true

[pager]
    diff = delta
    log = delta
    reflog = delta
    show = delta

[core]
    editor = vim
    pager = delta

[diff]
    colorMoved = default

[interactive]
    diffFilter = delta --color-only

[pull]
    rebase = true
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential

[init]
	defaultBranch = mainline
[push]
	autoSetupRemote = true
